.promo2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  min-height: 30vh;
  text-align: center;

  @include breakpoint-up (medium) {
    padding-top: 3rem;
  }

  &__info {
    font-size: $font-xs;
    color: $yellow;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint-up (large) {
      font-size: $font-s;
    }
  }

  &__icon {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    z-index: -10;
    font-weight: 700;
  }
}