// Colors

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 102);

// Font Sizes

$font-xs: 0.8rem;
$font-s: 1.1rem;
$font-m: 1.4rem;
$font-l: 1.8rem;
$font-xl: 2.2rem;
$font-xxl: 2.8rem;